# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
/node_modules/
/Backend/node_modules/
--dump.sql
egndfhevug7ok--main-bvxea6i--postgresql--main--dump.sql