<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adopte un Geek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../res/css/index.css"/>
</head>

<body>
    <div class="header">
        <i class="fas fa-user"></i>
        <h5>Adopte un Geek</h5>
        <i class="fas fa-filter"></i>
    </div>

    <div class="person">
        <i class="far fa-thumbs-down"></i>
        <img src="../img/thispersondoesnotexist.jpg" alt="main picture" class="indexPic">
        <i class="far fa-thumbs-up"></i>
    </div>

    <div class="footer">
        <i class="fas fa-compass"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-comments"></i>
        <i class="fas fa-cog"></i>
    </div>

    <script>navigate("index")</script>
</body>
</html>