<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adopte un Geek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../res/css/index.css"/>
</head>

<body>
    <div class="header">
        <i class="fas fa-user" id="profileIcon"></i>
        <h5>Adopte un Geek</h5>
        <i class="fas fa-filter" id="filterIcon"></i>
    </div>

    <div class="category-options">
        <button class="category-option category-option-selected" id="likedByOthers">Aimé par</button>
        <button class="category-option" id="likedByMe">J'aime</button>
        <button class="category-option" id="matches">Matchs</button>
    </div>

    <div id="loader" class="loader" style="margin: auto">
        <img src="../res/loader.gif" alt="Loading...">
    </div>

    <div id="userGrid" class="user-grid">
    </div>

    <div class="footer">
        <i class="fas fa-compass" id="indexIcon"></i>
        <i class="fas fa-heart" id="heartIcon"></i>
        <i class="fas fa-comments" id="messagesIcon"></i>
        <i class="fas fa-sign-out-alt" id="settingsIcon"></i>
    </div>

    <script src="base64js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="application/ecmascript" src="../app/services/usersRoutes.js"></script>
    <script type="application/ecmascript" src="../app/services/interactionsRoutes.js"></script>
    <script type="application/ecmascript" src="../app/services/photosRoutes.js"></script>
    <script type="application/ecmascript" src="../app/services/messagesRoutes.js"></script>
    <script type="application/ecmascript" src="../app/controllers/main.js"></script>
    <script type="application/ecmascript" src="../app/controllers/likes.js"></script>
</body>
</html>