<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adopte un Geek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../res/css/index.css"/>
</head>
<body>
    <div class="login-container">
        <div id="loginForm">
            <h3>Connexion</h3>
            <form class="login-form">
                <label for="loginEmail">Adresse email :</label><br>
                <input type="email" id="loginEmail" name="email" required><br>
                <label for="loginPassword">Mot de passe :</label><br>
                <input type="password" id="loginPassword" name="password" required><br><br>
                <button type="submit" class="login-button">Connexion</button>
            </form>
        </div>

        <div id="signupForm" class="hidden">
            <h3>Créer un compte</h3>
            <form class="login-form">
                <label for="signupNickname">Pseudonyme:</label><br>
                <input type="text" id="signupNickname" name="nickname" required><br>
                <label for="signupEmail">Email:</label><br>
                <input type="email" id="signupEmail" name="email"><br>
                <div id="emailError" class="error-message"></div>
                <label for="signupPassword">Mot de passe:</label><br>
                <input type="password" id="signupPassword" name="password" required><br><br>
                <button type="submit" class="login-button">Créer un compte</button>
            </form>
        </div>

        <div id="toggleForms">
            <p id="alreadyAccount" class="hidden">J'ai déjà un compte</p>
            <p id="dontHaveAccount">Je n'ai pas de compte</p>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="application/ecmascript" src="../app/tools.js"></script>
    <script type="application/ecmascript" src="../app/services/usersRoutes.js"></script>
    <script type="application/ecmascript" src="../app/controllers/login.js"></script>

</body>
</html>
