<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adopte un Geek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../res/css/login.css"/>
</head>
<body>
    <div class="container">
        <div id="loginForm">
            <h3>Login</h3>
            <form>
                <label for="loginEmail">Email:</label><br>
                <input type="email" id="loginEmail" name="email" required><br>
                <label for="loginPassword">Password:</label><br>
                <input type="password" id="loginPassword" name="password" required><br><br>
                <button type="submit">Login</button>
            </form>
        </div>

        <div id="signupForm" class="hidden">
            <h3>Sign Up</h3>
            <form>
                <label for="signupNickname">Nickname:</label><br>
                <input type="text" id="signupNickname" name="nickname" required><br>
                <label for="signupEmail">Email:</label><br>
                <input type="email" id="signupEmail" name="email"><br>
                <div id="emailError" class="error-message"></div>
                <label for="signupPassword">Password:</label><br>
                <input type="password" id="signupPassword" name="password" required><br><br>
                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div id="toggleForms">
            <p id="alreadyAccount" class="hidden">I already have an account</p>
            <p id="dontHaveAccount">I don't have an account</p>
        </div>

        <button id="logoutButton">Logout</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="application/ecmascript" src="../app/tools.js"></script>
    <script type="application/ecmascript" src="../app/model/userClass.js"></script>
    <script type="application/ecmascript" src="../app/model/model.js"></script>
    <script type="application/ecmascript" src="../app/services/usersAPI.js"></script>
    <script type="application/ecmascript" src="../app/services/usersRoutes.js"></script>
    <script type="application/ecmascript" src="../app/controllers/login.js"></script>
    <script type="application/ecmascript" src="../app/controllers/basecontroller.js"></script>


    <script>navigate("login")</script>
</body>
</html>
