<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adopte un Geek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../res/css/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="profile-container">
    <div id="profile-form">
        <h3>A propos de vous</h3>
        <form id="firstForm">
            <label for="gender">Genre :</label><br>
            <select id="gender" name="gender" class="browser-default" required>
                <option value="male">Homme</option>
                <option value="female">Femme</option>
                <option value="other">Non binaire</option>
            </select><br>

            <label for="birthdate">Date de naissance :</label><br>
            <input type="date" id="birthdate" name="birthdate" required><br>

            <div class="search-container">
                <label for="cityInput">Ville :</label><br>
                <input type="text" id="cityInput" placeholder="Entrez votre ville..." autocomplete="off" required>
                <ul id="suggestionsList"></ul>
            </div>

            <label for="bio">Bio :</label><br>
            <textarea id="bio" name="bio" rows="4" required></textarea><br>

            <button type="submit" class="buttonProfileForm">Valider</button>
        </form>
        <form id="photoForm" class="photoForm">
            <label for="photoInput">Choisissez votre photo préférée :</label>
            <input type="file" id="photoInput" name="photo" accept="image/*" />
            <img id="preview" src="#" alt="Preview" style="display: none;" />

            <label for="selectedTags">Tags (sélectionnez jusqu'à 5) :</label><br>
            <div id="tagContainer">
                <div class="tag">Jeu de rôle (RP)</div>
                <div class="tag">Jeux vidéos</div>
                <div class="tag">Programmation</div>
                <div class="tag">Science-fiction</div>
                <div class="tag">Fantasy</div>
                <div class="tag">Manga</div>
                <div class="tag">Anime</div>
                <div class="tag">Cosplay</div>
                <div class="tag">Comics</div>
                <div class="tag">Livres</div>
                <div class="tag">Intelligence artificielle</div>
                <div class="tag">Histoire</div>
                <div class="tag">Technologie</div>
                <div class="tag">Voyage</div>
                <div class="tag">Musique</div>
                <div class="tag">Cinéma</div>
                <div class="tag">Sport</div>
                <div class="tag">Cuisine</div>
                <div class="tag">Photographie</div>
                <div class="tag">Art</div>
                <div class="tag">Nature</div>
            </div>
            <input type="hidden" id="selectedTags">

            <button type="submit" class="buttonProfileForm">Valider</button>
        </form>
    </div>

</div>

<script type="application/ecmascript" src="../app/services/usersRoutes.js"></script>
<script type="application/ecmascript" src="../app/services/photosRoutes.js"></script>
<script type="application/ecmascript" src="../app/services/messagesRoutes.js"></script>
<script type="application/ecmascript" src="../app/controllers/main.js"></script>
<script type="application/ecmascript" src="../app/controllers/profile.js"></script>

</body>
</html>
