html,body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.login-container{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25vw;
    max-width: 400px;
    min-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.login-form {
    margin: 50px auto 0;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.login-button {
    margin: 20px auto 0;
    width: fit-content !important;
}

#toggleForms{
    cursor: pointer;
}

.profile-container {
    text-align: center;
    padding: 0 30px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.buttonProfileForm{
    margin: 20px 0;
}

#profile-form {
    margin-top: 20px;
}

.container {
    display: flex;
    height: 100%;
    margin-bottom: 0;
}

.message-sidebar {
    flex: 1;
    background-color: #f3f3f3 !important;
    border-right: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
}

.message-container {
    flex: 4;
    margin-left: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow: hidden;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    margin: 0;
}

.message {
    max-width: 70vw;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-content {
    margin-top: 5px;
}

.message.sent-by-current-user {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    width: fit-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: 24px;
}

.message.sent-by-other-user {
    display: flex;
    flex-direction: column;
    background-color: #ff5e5e;
    color: white;
    width: fit-content;
    max-width: 80%;
}

.send-button {
    margin-right: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.send-button i {
    font-size: 24px;
    color: #555;
}

.send-button:hover i {
    color: #333;
}

.messages{
    overflow-y: auto;
    height: 80%;
}

.message-input{
    display: flex;
    align-items: center;
}

.message-input-text{
    height: 100%;
    margin-right: 3%;
}

.matches-list {
    list-style: none;
    padding: 0;
}

.match-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.match-item:hover {
    background-color: #ccc;
}

.match-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.match-item .match-info {
    flex: 1;
}

.match-item .match-name {
    font-weight: bold;
}

.match-item .match-status {
    font-size: 0.8em;
    color: #555;
}

.message-sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    width: 80vw;
    height: 5vh;
    min-height: 40px;
}

.header i {
    margin: 0 5px;
    font-size: 24px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80vw;
    height: 5vh;
    min-height: 40px;
}

.footer i {
    margin: 0 5px;
    font-size: 24px;
    cursor: pointer;
}

.h5 {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.person{
    display: flex;
    align-items: center;
    height: 100%;
}

.person i{
    font-size: 100px;
    margin: 0 10px;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    height: 86.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.textContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 10vw);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5%;
}

.largeTextContainer {
    height: 100%;
}

.largeTextContainer #userBio{
    margin-bottom: 10px;
    -webkit-line-clamp: 10;
}

.largeTextContainer .tag{
    cursor: default;
}


.textContainer h4 {
    margin-top: 0;
}

.textContainer p {
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.textContainer.hidden {
    display: none;
}

button{
    cursor: pointer;
}

.userFirstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.userFirstRow h4 {
    margin: 0;
    line-height: 0;
    font-size: 180%;
}

#userDistance {
    text-align: center;
    font-size: 18px;
    line-height: 0;
}

#tagContainer {
    margin-top: -10px;
    text-align: start;
}

.hidden{
    display: none;
}

.tag{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.tag.selected {
    background-color: #4CAF50;
    color: white;
}

.category-options {
    display: flex;
    margin-top: 10px;
}

.category-option {
    margin: 10px 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.category-option:hover {
    text-decoration: underline;
}

.user-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-grid img{
    height: 40vh;
}

.user-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    max-height: none;
    height: inherit;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 0 auto;
    border: 1px solid #888;
    width: 30%;
    justify-content: space-between;
    height: 100vh;
    min-width: 300px;
    max-height: 600px;
}

.modal-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.slider_container {
    display: flex;
    flex-direction: column;
    width: 80%;
}


.sliders_control {
    position: relative;
    min-height: 50px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #635a5a;
    margin-top: -20px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.form_control_container__time__input{
    width: 50px !important;
}

.slider-value {
    text-align: center;
    margin-top: -20px;
}

button[type="submit"] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#photoInput{
    margin-bottom: 10px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin-top: 0;
    font-weight: bold;
}

textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    height: 10%;
    resize: none;
}

#birthdate{
    width: 50%;
    margin-bottom: 15px;
    margin-top: -10px;
}

#cityInput{
    margin-bottom: 0;
}

input[type="file"]{
    margin-top: 5px;
}

select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.photoForm {
    margin-top: 0;
    display: none;
}

h3{
    font-size: 2em;
}

.search-container{
    padding: 0;
    width: 50%;
    position: relative;
    margin: 0 auto 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 10px;
}

#cityInput {
    margin-top: 0;
}

#suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

#suggestionsList li {
    padding: 10px;
    cursor: pointer;
}

#suggestionsList li:hover {
    background-color: #f3f3f3;
}

#preview {
    max-width: 200px;
    max-height: 200px;
    margin: 10px auto 5px auto;
}

#likeIcon2, #skipIcon2{
    display: none;
}

.username{
    font-size: 2rem;
}

.thumb{
    display: none;
}

#container-messages{
    flex: 1;
    display: flex;
    overflow: hidden;
}

@media only screen and (min-width: 1440px) {
    .textContainer p {
        margin-bottom: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
    }

    .username{
        font-size: 3.56rem;
    }
}

@media only screen and (min-width: 600px) {
    .textContainer{
        bottom: 0;
    }
}
@media only screen and (max-width: 600px) {
    .image-container img{
        height: 380px;
        margin: 10px 0;
    }

    #likeIcon2, #skipIcon2{
        display: inline;
        font-size: 60px;
    }

    .mobile-icons{
        margin-top: -1px;
    }

    #likeIcon, #skipIcon{
        display: none;
    }

    .person{
        flex-direction: column;
        justify-content: space-between;
    }

    .header, .footer{
        width: 100%;
    }

    .largeTextContainer{
        height: fit-content;
    }

    #tagContainer{
        display: block;
    }

    .user-row{
        margin-top: 70px;
    }

    #container-messages{
        width: 100%;
        height: 100%;
    }
}