body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    width: 80vw;
}

.header i {
    margin: 0 5px;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80vw;
}

.footer i {
    margin: 0 5px;
    font-size: 24px;
}

.h5 {
    display: inline-block;
    margin: 0;
}

.person{
    display: flex;
    align-items: center;
}

.person i{
    font-size: 100px;
    margin: 0 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    height: 85vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.textContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 10vw);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.largeTextContainer {
    height: calc(126% - 10vw);
}


.textContainer h4 {
    margin-top: 0;
}

.textContainer p {
    margin-bottom: 0;
}

.textContainer.hidden {
    display: none;
}

.userFirstRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.tagContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.hidden{
    display: none;
}

.tag{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    display: inline-block;
    text-align: center;
}

.category-options {
    display: flex;
    margin-top: 10px;
}

.category-option {
    margin: 10px 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.category-option:hover {
    text-decoration: underline;
}

.user-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-grid img{
    height: 40vh;
}

.user-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: none;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    align-items: center;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    justify-content: space-between;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 35% auto;
}

.sliders_control {
    position: relative;
    min-height: 50px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.form_control_container__time__input{
    width: 50px !important;
}

#distanceSlider{
    max-width: 300px;
}

.slider-value {
    text-align: center;
    margin-top: 30px;
}

button[type="submit"] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}