body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.container {
    margin-top: 10vh;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

form {
    margin-top: 50px;
}

button {
    margin-top: 20px;
}

.hidden {
    display: none;
}